<div class="row">

    <div class="col-md-3">
        <div class="card p-3">
            <h5>Total Users</h5>
            <h2>@ViewBag.TotalUsers</h2>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-3">
            <h5>Textbooks</h5>
            <h2>@ViewBag.TotalTextbooks</h2>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-3">
            <h5>Offers</h5>
            <h2>@ViewBag.TotalOffers</h2>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-3">
            <h5>Transactions</h5>
            <h2>@ViewBag.TotalTransactions</h2>
        </div>
    </div>

</div>